body{
	font-family: "Nunito Sans", sans-serif;
	
	
}
/*Navbar*/
.bit_nav1{
	margin-left: 290px;

}
.navbar .navbar-nav .bit_nav{
text-decoration: none;
color:#204A84;
padding-right:45px;
letter-spacing: 1px;
font-family: 'Nunito Sans', sans-serif;
font-size: 20px;
}
.bit_nav:hover{
color:#204A84; 
}

.navbar .navbar-brand{
    color: #204a84;
}
.navbar .navbar-brand:hover{
    color: #204a84;
}

.bit_button{
	text-decoration: none;
	color: #F8F9FA;
    width:90px;
/*	margin-left:25px;*/
    margin-top: 5px;
	background-color:#204A84;
	font-size: 16px;
	font-family: 'Nunito Sans', sans-serif;
	box-shadow: 1px 1px 5px #CEE5F2;
	border: none;
}
.bit_button:hover{
	color: #204A84;
	background: #F8F9FA;
	border: 1px solid #204A84;
}
.type{
   font-size:20px; 
	color: #fff;
	margin-top: 120px;
	margin-left: 25px;
	
  
}